.search .filter{
    border: 1px solid darkgrey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search{
    margin-bottom: 20px;
    margin-top: 20px;
}
.search button{
    width: 300px;
    background-color: aliceblue;
    color: black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 8px 6px 8px 8px;
    margin:20px 0;
}
.result{
    border: 1px solid grey;
}
.information figure img{
    margin-right: 20px;
}
.information{
    border-bottom: 1px solid darkgrey;
    margin-bottom: 0;
    margin-top:0;
}
.information h2{
    background-color: darkgrey;
    margin: 0;
}
.search h2{
    margin-bottom: 0;
    margin-top: 10px;
    background-color: darkgrey;

}
.text{
    width: 1750px;
    height:50px;
    margin-left: 10px;
}
p{
    text-align: center;
}
figcaption p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}

.first_page:hover,.page:hover,.last_page:hover{
    background-color: darkgray;
}